    <!-- <footer class="page-footer teal">
        <div class="footer-copyright">
          <div class="container">
          © 2021 Copyrighted by Zain Ali
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>
    </footer> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        M.AutoInit();
    </script>
</body>
</html>