<nav class="teal">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo" style="margin-left: 5%;">My Blog</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </div>
</nav>