<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

    <div class="row container">
        <h4 class="center">Add new blog</h4>
        <form class="col s12" action="/add-blog" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <input id="title" type="text" name="title" required>
                    <label for="title">Title</label>
                </div>
                <div class="input-field col s12">
                    <input id="snippet" type="text" name="snippet" required>
                    <label for="snippet">Snippet</label>
                </div>
                <div class="input-field col s12">
                    <input id="body" type="text" name="body" required>
                    <label for="body">Body</label>
                </div>
                <div class="input-field col s12">
                    <input id="btn" type="submit" class="btn btn-large">
                </div>
            </div>
        </form>
    </div>
    
<%- include('./partials/footer.ejs') %>
